<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/addProduction" method="post" enctype="multipart/form-data">
		    产品名：<input type="text" name="name"><br>
		    保质期：<input type="text" name="qualityTime"/><br>
			规格：<input type="text" name="format"/><br>
		    原料：<input type="text" name="material"><br>
			照片：<input type="file" name="photo"><br>
			简介：<input type="text" name="abstract"/><br>
			条形码：<input type="text" name="barCode"><br>
			公司：<input type="text" name="companyName"><br>
			<input type="submit" name="submit" value="添加"/>	
		</form>
	</body>
</html>
