<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/updateProduction" method="post" enctype="multipart/form-data">
			id：<input type="text" name="id"><br>
			产品名：<input type="text" name="name"><br>
			保质期：<input type="text" name="qualityTime"/><br>
			规格：<input type="text" name="format"><br>
			照片：<input type="file" name="photo"><br>
			原料：<input type="text" name="material"/><br>
			简介：<input type="text" name="abstract"><br>
			条形码：<input type="text" name="barCode"><br>
			<input type="submit" name="submit" value="添加"/>	
		</form>
	</body>
</html>