<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/updateCompany" method="post" enctype="multipart/form-data">
			id：<input type="text" name="id"><br>
			公司名：<input type="text" name="name"><br>
			公司地址：<input type="text" name="address"/><br>
			公司简介：<input type="text" name="profile"><br>
			营业执照图片：<input type="file" name="blPhoto"><br>
			生产许可证图片：<input type="file" name="pcPhoto"/><br>
			安全认证图片：<input type="file" name="scPhoto"><br>
			联系方式：<input type="text" name="tel"/><br>
			<input type="submit" name="submit" value="添加"/>	
		</form>
	</body>
</html>
