<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/updateStaff" method="post" enctype="multipart/form-data">
			id：<input type="text" name="id"><br>
			职员名：<input type="text" name="name"><br>
			密码：<input type="text" name="password"/><br>
			联系方式：<input type="text" name="tel"><br>
			照片：<input type="file" name="photo"><br>
			工作类型：<input type="text" name="type"/><br>
			工作地点：<input type="text" name="workingPlace"><br>
			离职：<input type="text" name="leaveTime"><br>
			<input type="submit" name="submit" value="添加"/>	
		</form>
	</body>
</html>